data/*
!data/start_frontier.txt
!data/start_proxies.txt
!data/README.md

doc/tweetrank_draft/*
doc/tweetrank_draft/tweetrank_draft.tex

crawler/__pycache__

.DS_Store*
thumbs.db
Icon?
Thumbs.db
*.pyc
*.pyo
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
