data/*
!data/start_frontier.txt
!data/start_proxies.txt
!data/README.md

crawler/__pycache__

.DS_Store*
thumbs.db
Icon?
Thumbs.db
*.pyc
*.pyo
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

doc/report/*.log
doc/report/*.aux
doc/report/*.blg
doc/report/*.bbl